.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.navbar-nav {
    padding: 0px 0px 0px 0px;
}

.user-profile {
    border-radius: 20px;
    height: 40px;
}